# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Orchestrate or schedule a set of jobs
jobs:
  build:
    docker:
    - image: conanio/gcc7:latest
    working_directory: ~/repo/build
    steps:
      - checkout:
          path: ~/repo
      - run: sudo apt update && sudo apt install -y clang cppcheck clang-tidy clang-format
      - run: conan install .. -s compiler.libcxx=libstdc++11 --build=missing
      - run: cmake ..
      - run: cmake --build .
      - run: make cppcheck
      - run: make clang-tidy
      - run: mkdir ~/repo/build/test_results && mkdir ~/repo/build/test_results/unit_test
      - run: make test
      - run: cp ~/repo/build/results.xml ~/repo/build/test_results/unit_test/results.xml
      - store_test_results:
          path: ~/repo/build/test_results
      - store_artifacts:
          path: ~/repo/build/bin/cpp_base_project